# Ignore node_modules
node_modules

# Ignore compiled TypeScript files
dist

# Ignore Git files
.git
.gitignore

# Ignore editor and OS-specific files
.vscode
.DS_Store
Thumbs.db

# Ignore data files if they're not needed in the build
data/issues.csv
